    <div id="wrapper">
        <%- include('../partials/header.ejs') %>
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="plain">
                    <div>
                        <fieldset style="background-color: gray; border-color: darkgray; border-style: solid; border-width: 5px; margin: 10px; padding: 5px;">
                            <h3>Advanced user and project management (BETA)</h3>
                            <button onclick="window.location.href='/admin';">Start</button>
                        </fieldset>
                    </div>
                    <div>
                        <fieldset style="background-color: gray; border-color: darkgray; border-style: solid; border-width: 5px; margin: 10px; padding: 5px;">
                            <h3>Inject field (BETA)</h3>
                            <label for="injectPage">Pagina:</label>
                            <input id="injectPage"></input>
                            <label for="injectField">Field:</label>
                            <input id="injectField"></input>
                            <label for="injectData">Data:</label>
                            <input id="injectData"></input>
                            <button id="injectButton">Inject</button>
                        </fieldset>
                    </div>
                    <div>
                        <fieldset style="background-color: gray; border-color: darkgray; border-style: solid; border-width: 5px; margin: 10px; padding: 5px;">
                            <h3>Restore archived projects (BETA)</h3>
                            <select id="archiveList"></select> <button id="importProject">Importeer</button>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="userId" style="display: none;"><%= username %></div>
    <script src="/js/controller.js" type="text/javascript"></script>