    <div id="wrapper">
        <%- include('../partials/header.ejs') %>
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="plain">
                    <div id="touchDesignerStatus"></div>
                    <select id="targetSelector"></select>
                    <button id="reconnectButton">Reset connection</button>
                    <hr \>
                    <div id="controlPanel">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <label for="tdProjects">Project</label><br />
                                        <select id="tdProjects"></select>
                                    </div>
                                    <div class="col">
                                        <label for="thContainers">Pagina</label><br />
                                        <select id="tdContainers"></select><br />
                                        <label for="tdTransitions">Overgang</label><br />
                                        <select id="tdTransitions">fade</select>
                                        <div id="projectsButton"><i class="fas fa-redo fa-2x" title="Refresh"></i></div>
                                    </div>                                    
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <button id="resetButton">Reset alle presentaties</button>&nbsp;
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div style="width: 300px;">
                                    <div class="row">
                                        <div class="col-4"></div>
                                        <div class="col-4">
                                            <img src="../img/arrow-up.png" title="Op" id="downButton" class="navButton" />
                                        </div>
                                        <div class="col-4"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <img src="../img/arrow-left.png" title="Vorige pagina" id="backButton" class="navButton" />
                                        </div>
                                        <div class="col-4">
                                            <img src="../img/home.png" title="Terug naar startpagina" id="rootButton" class="navButton" />
                                        </div>
                                        <div class="col-4">
                                            <img src="../img/arrow-right.png" title="Volgende pagina" id="nextButton" class="navButton" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4"></div>
                                        <div class="col-4">
                                            <img src="../img/arrow-down.png" title="Neer" id="upButton" class="navButton" />
                                        </div>
                                        <div class="col-4"></div>
                                    </div>
                                    <div id="tdAssets" class="col"></div> 
                                </div>
                            </div>
                            <div>
                                <input type="checkbox" id="touchToggle"  style="display: none;"/>
                                <div id="touchLabel"></div>
                                <button id="touchButton"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="userId" style="display: none;"><%= username %></div>
    <script src="/js/controller.js" type="text/javascript"></script>