@import url('https://fonts.googleapis.com/css?family=Roboto');

$activeColor: orange;
$color-highlight: darkred;
$color-link: darkblue;

$color-pageBar: rgb(150, 31, 31);

$font-main: 'Roboto', sans-serif;
$font-highlight: 'Arial', sans-serif;