
<div id="sidebar-left" class="fixed-top toggled">
    <ul class="navbar-nav">
        <li class="nav-item" id="remoteButton">
            <a href="/remote/controller" class="nav-link">
                <i class="fas fa-gamepad"></i>
                <span>Remote Control</span>
            </a>
        </li>
        <li class="nav-item" id="usersButton">
            <a href="/remote/users" class="nav-link">
                <i class="fas fa-users"></i>
                <span>Users</span>
            </a>
        </li>
        <li class="nav-item" id="addUsersButton">
            <a href="/remote/register" class="nav-link">
                <i class="fas fa-user-plus"></i>
                <span>Add User</span>
            </a>
        </li>
        <li class="nav-item" id="sessionsButton">
            <a href="/remote/sessions" class="nav-link">
                <i class="fas fa-history"></i>
                <span>Sessions</span>
            </a>
        </li>
        <li class="nav-item" id="betaButton">
            <a href="/remote/beta" class="nav-link">
                <i class="fas fa-flask"></i>
                <span>Beta</span>
            </a>
        </li>
    </ul>
</div>
