        <!-- Sidebar Left -->
        <div id="sidebar-left" class="fixed-top toggled">
            <ul class="navbar-nav">
                <li class="nav-item active" id="projectsButton">
                    <a class="nav-link left-menu" data-target="projects">
                        <i class="fas fa-fw fa-folder"></i>
                        <span>Projecten</span>
                    </a>
                </li>
                <li class="nav-item" id="viewerButton">
                    <a class="nav-link left-menu" data-target="viewer">
                        <i class="fas fa-fw fa-eye"></i>
                        <span>Viewer</span>
                    </a>
                </li>
                <li class="nav-item" id="templatesButton">
                    <a class="nav-link left-menu" data-target="templates">
                        <i class="fas fa-fw fa-stamp"></i>
                        <span>Templates</span></a>
                </li>
                <li class="nav-item" id="networkButton">
                    <a class="nav-link left-menu" data-target="network">
                        <i class="fas fa-project-diagram"></i>
                        <span>Netwerk</span></a>
                </li>
                <li class="nav-item" id="xmlButton">
                    <a class="nav-link left-menu" data-target="xml">
                        <i class="fas fa-code"></i>
                        <span>XML</span></a>
                </li>
                <li><hr /></li>
                <li class="nav-item" id="mediaButton">
                    <a class="nav-link left-menu" data-target="media">
                        <i class="fas fa-fw fa-images"></i>
                        <span>Media</span></a>
                </li>
                <li><hr /></li>
                <li class="nav-item" id="syncButton">
                    <a class="nav-link left-menu" data-target="sync">
                        <i class="fas fa-fw fa-sync"></i>
                        <span>Sync</span></a>
                </li>
                <li><hr /></li>
                <li class="nav-item" id="archiveButton">
                    <a class="nav-link left-menu" data-target="archive" title="Archiveer huidige versie van het project.">
                        <i class="fas fa-fw fa-archive"></i>
                        <span>Archief</span></a>
                </li>
                <li><hr /></li>
                <li class="nav-item" id="settingsButton">
                    <a class="nav-link left-menu" data-target="settings" title="Instellingen van het project.">
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Instellingen</span></a>
                </li>
                <li><hr /></li>
                <li class="nav-item" id="helpButton">
                    <a class="nav-link left-menu" data-target="help">
                        <i class="fas fa-question"></i>
                        <span>Help</span></a>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-fw fa-folder"></i>
                        <span>Tester</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                        <h6 class="dropdown-header">Login Screens:</h6>
                        <a class="dropdown-item" href="/">Login</a>
                        <a class="dropdown-item" href="/">Register</a>
                        <a class="dropdown-item" href="/">Forgot Password</a>
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">Other Pages:</h6>
                        <a class="dropdown-item" href="/">404 Page</a>
                        <a class="dropdown-item" href="/">Blank Page</a>
                    </div>
                </li> -->
            </ul>
        </div> <!-- /#sidebar-left -->
