.env
config.json
/node_modules
/daemon

/ffmpeg/*
!/ffmpeg/ReadMe.md

/ssl/*
!/ssl/ReadMe.md

/public/presentation/*
!/public/presentation/ReadMe.txt

/public/templates/*
!/public/templates/ReadMe.txt

/public/dropfolder/*
!/public/dropfolder/ReadMe.txt

/public/admin/*
!/public/admin/ReadMe.txt

/touchdesigner/TDImportCache
/touchdesigner/Backup
/touchdesigner/data/*
!/touchdesigner/data/ReadMe.txt

*.dmp

.deploy/* 
!.deploy/ReadMe.txt
