.env
config.json
/node_modules
/daemon

/public/presentation/*
!/public/presentation/ReadMe.txt

/public/templates/*
!/public/templates/ReadMe.txt

/public/dropfolder/*
!/public/dropfolder/ReadMe.txt

/touchdesigner/TDImportCache
/touchdesigner/Backup
/touchdesigner/data/*
!/touchdesigner/data/ReadMe.txt

*.dmp

.deploy/* 
!.deploy/ReadMe.txt
