<div id="wrapper">
    <h1>Facebook</h1>
    <div class="fb-like" data-share="true" data-width="450" data-show-faces="true">
    </div>

</div> <!-- /#wrapper -->

<input id="req" value="<%= code %>" size="200"></input>

<div id="userId" style="display: none;">
    <%= username %>
</div>
<script src="/js/scripts.js" type="module"></script>