/* 
 * Media
 */

#projects, #privateProjects {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
   
    .projectButton {
        background-color: white;
        vertical-align: middle;
        float: left;
        padding: 5px;
        margin: 5px;
    }

    .projectButton:hover {
        background-color: orange;
    }

    .projectButton img {
        width: 300px;
        height: 200px;
        object-fit: contain;
    }

    .projectButton .projectName {
        font-size: 20px;
        margin: 10px 0px 0px 0px;
        bottom: -30px;
    }

    .projectButton .locked {
        position: relative;
        height: 30px;
    }

    .projectButton.active {
        background-color: red;
    }

    .projectButton.addButton {
        background-color: transparent;
        opacity: 0.5;
    }

    .projectButton.addButton img {
        width: 80px;
    }

    .projectButton.addButton:hover {
        opacity: 1.0;
    }
}